region: us-east-1
metrics:
  - aws_namespace: AWS/EC2
    aws_metric_name: CPUUtilization
    aws_dimensions: [InstanceId]
    range_seconds: 600
    period_seconds: 300
    stat: Average
    delay_seconds: 600
